<header class="navbar navbar-fixed-top navbar-inverse"> <div class="container">
<%= link_to "sample app", '#', id: "logo" %> 
<ul class="nav navbar-nav navbar-right">
  <li><%= link_to "Home","/static_pages2/home"%></li>
  <li><%= link_to "Help","/static_pages2/help"%></li>
  <li><%= link_to "login","#"%></li>